# Este arquivo pode ser usado para adicionar configurações personalizadas ao Airflow
# Para substituir configurações, copie as seções relevantes do arquivo airflow.cfg original

[webserver]
# Configurações personalizadas para o webserver
navbar_color = #428bca
hide_paused_dags_by_default = False

[scheduler]
# Configurações personalizadas para o scheduler
min_file_process_interval = 30

[core]
# Configurações personalizadas para o core
default_timezone = America/Sao_Paulo 